<% layout('layouts/boilerplat') %>
    <link rel="stylesheet" href="/sylesheets/starRating.css">

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-5">
                               <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% camp.images.forEach((img,i)=> { %>
                            <div class="carousel-item <%= i===0 ? 'active' : '' %>">
                                <img src="<%= img.url %> " class="d-block w-100" id="showImg" alt="">
                            </div>
                            <% }) %>
                    </div>
                    <% if(camp.images.length>1) {%>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                        <% } %>
                </div>



                <div class="card-body">
                    <h5 class="card-title mb-4">
                        <%= camp.title %>
                    </h5>
                    <h6 class="card-subtitle mb-4">

                    </h6>
                    <p class="card-text">
                        <%= camp.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Campground Location</b> : <%= camp.location %>
                    </li>
                    <li class="list-group-item"><b>Campground Author</b> : <%= camp.author.username %>
                    </li>
                    <li class="list-group-item"><b>Campground Price</b> : $<%= camp.price %>
                    </li>
                </ul>
                <% if(curentuser && camp.author.equals(curentuser._id)){ %>
                    <div class="card-body">
                        <a href="/campground/<%= camp._id %>/edit " class="card-link btn btn-info">Edit
                            Campground</a>
                        <form class="d-inline me-auto" action="/campground/<%= camp._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-danger">Delete Campground</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            2 days ago
                            <a href="/campground" class="card-link ">All Campground</a>
                        </div>
            </div>
            <% if(curentuser) {%>
                <h3>Leave a Review</h3>
                <form novalidate class="validation-form mb-4" action="/campground/<%= camp._id %>/reviews"
                    method="POST">
                    <div>
                        <label class="form-label" for="rate">Rate</label>

                    </div>
                    <fieldset class="starability-basic">
                        <legend>First rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="rate" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rate" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rate" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rate" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rate" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rate" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <div>
                        <label class="form-label" for="review">Review</label>
                        <textarea class="form-control mb-3" name="body" id="review" required cols="30"
                            rows="3"></textarea>
                        <div class="valid-feedback mb-2">
                            Looks Good!!
                        </div>
                    </div>
                    <button class="btn btn-success">submit</button>
                </form>
                <% } %>
        </div>
        <div class="col-md-6">
            <div id='map'></div>
            <h4 id="review">Reviews</h4>
            <% for(let review of camp.reviews){ %>
                <div class="card mb-1">
                    <div class="card-body">

                        <p class="starability-result" data-rating="<%= review.rate %>">
                            Rated: <%= review.rate %> stars
                        </p>
                        <p class="card-subtitle text-muted">By <%= review.author.username%>
                        </p>
                        <p class="card-text fs-6">
                            <%= review.body %>
                        </p>
                        <% if(curentuser && review.author.equals(curentuser._id)) {%>
                            <form action="/campground/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger">Del</button>
                            </form>
                            <% } %>
                    </div>

                </div>
                <% } %>
        </div>
    </div>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
        const campground = <%-JSON.stringify(camp) %>
    </script>
    <script src="/javascripts/mapboxGL.js"></script>